.page_body {
  display: grid;
  gap: 128px;
  padding-top: 80px;
  padding-bottom: 120px;

  @media (max-width: 1000px) {
    gap: 80px;
  }

  h1 {
    font-size: 48px;
    line-height: 2ch;

    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 2ch;

    @media (max-width: 1200px) {
      font-size: 28px;
    }
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  p {
    margin: 0;
  }
}

.map_point {
   --gap: 15px;
 
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2em;
   height: auto;
   aspect-ratio: 1/1;
   cursor: pointer;
   user-select: none;
 
   span {
     width: 100px;
     color: #000000;

     @media (max-width: 1000px) {
         font-size: 14px;
         line-height: 2ch;
     }
     @media (max-width: 760px) {
         color: #fff;
     }
   }
 
   @media (max-width: 760px) {
     --gap: 20px;
     //  max-width: 120px;
     //  color: red;
 
     position: relative;
     top: auto !important;
     right: auto !important;
     bottom: auto !important;
     left: auto !important;
 
     span {
       width: max-content;
       bottom: auto !important;
       left: auto !important;
 
       right: calc(-1 * var(--gap)) !important;
       transform: translate(100%, 0) !important;
       text-align: left !important;
 
       &._left {
         left: calc(-1 * var(--gap)) !important;
         transform: translate(-100%, 0) !important;
         text-align: right !important;
       }
     }
 
     //  &:nth-of-type(2n + 1) {
     //    span {
     //      right: calc(-1 * var(--gap)) !important;
     //      transform: translate(100%, 0) !important;
     //      text-align: left !important;
     //    }
     //  }
     //  &:nth-of-type(2n) {
     //    span {
     //      left: calc(-1 * var(--gap)) !important;
     //      transform: translate(-100%, 0) !important;
     //      text-align: right !important;
     //    }
     //  }
   }
 
   @media (any-hover: hover) {
     &:hover {
       &::before,
       &::after {
         transform: scale(1.1);
       }
 
       &::before {
         background-color: #7291ff;
       }
 
       &::after {
         border-color: #7291ff;
       }
 
       & + .map_popup {
         opacity: 1;
         visibility: visible;
       }
     }
   }
 
   &._active {
     &::before,
     &::after {
       transform: scale(1.1);
     }
     &::before {
       background-color: yellow;
     }
     &::after {
       border: 1px solid yellow;
     }
   }
 
   &:active {
     &::before,
     &::after {
       transform: scale(0.95);
     }
   }
 
   &::before,
   &::after {
     content: "";
     position: absolute;
     border-radius: 50%;
     transition: all 0.3s ease;
     pointer-events: none;
   }
 
   &::before {
     width: 10px;
     height: 10px;
     background-color: #000000;

     @media (max-width: 760px) {
         background-color: #ffffff;
      }
   }
   &::after {
     width: 100%;
     height: 100%;
     border: 1px solid #000000;

      @media (max-width: 760px) {
         border: 1px solid #ffffff;
      }
   }
 
   span {
     position: absolute;
     pointer-events: none;
   }
 
   &.bottom {
     span {
       bottom: calc(-1 * var(--gap));
       transform: translate(0, 100%);
       text-align: center;
     }
   }
 
   &.left {
     span {
       left: calc(-1 * var(--gap));
       transform: translate(-100%, 0);
       text-align: right;
       width: 100px;

       @media (max-width: 1000px) {
         transform: translate(-90%, 0);
       }
     }
   }
 
   &.right {
     span {
       right: calc(-1 * var(--gap));
       transform: translate(100%, 0);
       text-align: left;
     }
   }
 
   &.top {
     span {
       top: calc(-1 * var(--gap));
       transform: translate(0, -100%);
       text-align: center;
     }
   }
 }
 .map_popup {
   position: absolute;
   top: 50%;
   right: 15px;
   bottom: 0;
   left: 0;
   z-index: 20;
   cursor: pointer;
   pointer-events: none;
 
   transform: translate(0, -50%);
 
   display: flex;
   align-items: center;
   justify-content: right;
 
   opacity: 0;
   visibility: hidden;
 
   transition: all 0.3s ease;
 
   height: max-content;
 
   @media (max-width: 760px) {
     width: 100%;
     justify-content: center;
   }
 
   &._left {
     right: auto;
     left: 0;
   }
 
   &._active {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
   }
 }
 .dotted_line {
   height: 4px;
   width: 80px;
 
   margin: 20px 0;
   padding: 0;
   border: none;
   background: linear-gradient(to right, transparent 50%, #fff 50%),
     linear-gradient(to right, transparent, transparent);
   background-size: 16px 2px, 100% 2px;
 }

.first_block {
  display: grid;
  gap: 30px;

  .sub_title {
    font-size: 24px;
    color: #bbbbbb;

    @media (max-width: 1200px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .img_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      min-height: 400px;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(90deg, #fbf107, #ee7116, #f31e10, #f19811);

      @media (max-width: 768px) {
        height: 5px;
      }
    }

    .features {
      width: 100%;
      position: absolute;
      bottom: 40px;
      display: flex;
      justify-content: space-around;

      @media (max-width: 760px) {
        left: 50%;
        transform: translate(-50%, 0);
        display: grid;
        gap: 20px;
        grid-template-columns: auto 1fr 1fr auto;
        // justify-items: center;
        justify-content: center;
        bottom: 20px;
      }

      & > a {
        padding: 8px 24px;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;

        @media (max-width: 1000px) {
          font-size: 14px;
          padding: 8px 15px;
          white-space: nowrap;
        }

        &:nth-of-type(1) {
          color: #f0c220;
          border-color: #f0c220;
          transition: all 0.2s;

          & path {
            transition: all 0.2s;
          }

          &:hover {
            background-color: #f0c220;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 2/3;
          }
        }
        &:nth-of-type(2) {
          color: #ee7116;
          border-color: #ee7116;

          &:hover {
            background-color: #ee7116;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 2/3;
          }
        }
        &:nth-of-type(3) {
          color: #f31e10;
          border-color: #f31e10;

          &:hover {
            background-color: #f31e10;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 3/4;
            grid-row: 1/2;
          }
        }
        &:nth-of-type(4) {
          color: #f19811;
          border-color: #f19811;

          &:hover {
            background-color: #f19811;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 3/4;
          }
        }
      }
    }
  }
}

.description_block {
  background-color: #212121;
  padding: 100px 0;

  & > div {
    display: grid;
    gap: 40px;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  .text {
      font-size: 18px;
      overflow: hidden;
      display: grid;

      @media (max-width: 1200px) {
       font-size: 16px;
      }
      
      p:not(:first-of-type) {
         transition: all 0.3s ease;
         // max-height: 0;
         // opacity: 0;
         // height: 0;
         display: none;
      }

      &._show p:not(:first-of-type) {
         display: block;
         animation: identifier 0.5s forwards;
         // max-height: none;
         // opacity: 1;
      }

    @keyframes identifier {
      0% {
        // height: 0;
        opacity: 0;
      }
      100% {
        // height: auto;
        opacity: 1;
      }
    }
  }

  button {
    width: max-content;
    padding: 12px 40px 12px 0;
    color: #a6a6a6;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}

.hiking_routes_map_block {
   .sub_title {
     color: #bbbbbb;
     font-size: 24px;
 
     @media (max-width: 1200px) {
       font-size: 20px;
     }
   }
 
   .dotted_line {
     transform: rotate(90deg);
 
     @media (min-width: 760px) {
       display: none;
     }
   }
 
   .map {
     position: relative;
     margin-top: 80px;
 
     @media (max-width: 760px) {
       display: grid;
       gap: 30px;
       align-items: center;
       justify-items: center;
     }
 
     & > p {
       font-size: 18px;
       user-select: none;
 
       @media (max-width: 760px) {
         display: none;
       }
     }
 
     & > img {
       width: 100%;
       z-index: -1;
       border-radius: 10px;
 
       @media (max-width: 760px) {
         display: none;
       }
     }
 
     .map_text {
       position: absolute;
       color: #000000;
       font-size: 14px;
       font-weight: 500;
       line-height: 1.5ch;

       @media (max-width: 1000px) {
         font-size: 10px; 
       }
     }
   }
 
   .map_popup {
     @media (max-width: 760px) {
       height: 100%;
     }
 
     .popup_body {
       max-width: 360px; 
       background-color: #222;
       border-radius: 10px;
       overflow: hidden;

       .img_wrapper {
         display: grid;
         overflow: hidden;
 
         img {
           width: 100%;
         }
 
         .title {
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            padding: 15px;
           
           @media (max-width: 1000px) {
             font-size: 26px;
           }
         }
       }

     }
   }
 }

.photos_block {
  h2 {
    margin-bottom: 48px;
  }

  :global(.swiper) {
    width: 100%;
    height: 100%;
  }

  :global(.swiper-slide) {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.swiper-slide) img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/2;
    object-fit: cover;
  }

  :global(.swiper) {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1000px) {
      height: 150px;
    }
  }

  :global(.swiper-slide) {
    background-size: cover;
    background-position: center;
  }

  :global(.mySwiper2) {
    // height: 80%;
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
    user-select: none;

    :global(.swiper-slide) {
      width: 100% !important;
    }

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      @media (max-width: 760px) {
        &::after {
          font-size: 30px;
        }
      }
      @media (max-width: 480px) {
        &::after {
          font-size: 22px;
          // background-color: #FFFFFF;
          // color: #000;
          // border-radius: 50%;
          // padding: 5px 10px;
        }
      }
    }
  }

  :global(.mySwiper) {
    box-sizing: border-box;
    padding: 20px 0;

    @media (max-width: 1300px) {
      :global(.swiper-slide) {
        width: 24% !important;
      }
    }
    @media (max-width: 760px) {
      display: none;
    }
  }

  :global(.mySwiper) :global(.swiper-slide) {
    width: 25%;
    // height: 70%;
    opacity: 0.4;
  }

  :global(.mySwiper) :global(.swiper-slide-thumb-active) {
    opacity: 1;
  }

  :global(.swiper-slide) img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.routes_block {
  h2 {
    margin-bottom: 48px;
  }
}

.important_to_know_block {
  background-color: #212121;
  padding: 100px 0;

  .accordion {
    display: grid;
    gap: 30px;
    margin: 40px 0 0 0;
    padding: 0;

    li {
      position: relative;
      list-style: none;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 15px;

      p {
        grid-column: 2/3;
        font-size: 24px;

        @media (max-width: 1200px) {
          font-size: 18px;
        }
      }

      span {
        grid-column: 2/3;
        grid-row: 2/3;
        
        display: grid;
         align-content: start;
        max-height: 0px;
        font-size: 0;

        transition: max-height 0.3s ease, margin-top 0.3s ease;

        p {
         font-size: inherit;
      }
      }

      i {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 20px;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: #fff;
          width: 20px;
          height: 2px;
        }
        &::before {
          transform: rotate(90deg);
        }
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;

        &:checked + span {
          max-height: none;
          font-size: 18px;
          margin-bottom: 30px;

          @media (max-width: 1200px) {
            font-size: 16px;
          }
        }

        &:checked + span + i {
          &::before {
            transform: rotate(0deg);
          }
        }

        &:checked + span + i + p {
          color: #979797;
        }
      }
    }
  }
}

.reviews_block {
  overflow: hidden;
  h2 {
    margin-bottom: 48px;
  }

   & > button {
      display: block;
      margin: 60px auto 0 auto;
   }
}
.reviews_swiper {
  height: 100%;
  user-select: none;
//   height: max-content;
   height: inherit;

  @media (min-width: 1300px) {
    width: 100% !important;
  }
  @media (max-width: 1100px) {
    width: 700px !important;
  }
  @media (max-width: 760px) {
    width: 560px !important;
  }
  @media (max-width: 600px) {
    transform: translate(-20px, 0);
    width: 110% !important;
  }

  :global(.swiper-slide) {
      min-height: 400px;
      font-size: 18px;
      font-family: "jost";
      font-weight: 400;
      background: transparent;
      display: flex;
      align-items: center;

    & > div {
      height: 100%;
      display: grid;
      justify-items: center;

      @media (max-width: 1300px) {
        width: 100% !important;
      }
      @media (max-width: 760px) {
        width: 550px !important;
      }
      @media (max-width: 600px) {
        width: 90% !important;
      }
    }
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    color: #fff;

    &:active {
      transform: scale(0.95);
    }

    &::after {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px 16px;
      font-size: 30px;
    }
  }
  :global(.swiper-button-prev) {
    left: 20px;
  }
  :global(.swiper-button-next) {
    right: 20px;
  }

  .review_wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;

    padding: 40px;
    border: 1px solid #727272;
    border-radius: 10px;

    @media (max-width: 1100px) {
      // width: 85%;
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .user {
      display: grid;
      justify-items: center;
      align-content: start;
      gap: 10px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .review_body {
      display: grid;
      align-content: start;
      gap: 30px;
    }

    .stars {
      width: 200px;
      display: grid;
      gap: 10px;

      & > div {
        display: flex;
        gap: 5px;
      }

      span {
        color: #aeaeae;
        font-size: 14px;
      }
    }
  }
}

.reviews_modal {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 100;
}
.reviews_modal_body {
   position: relative;
   display: grid;
   align-content: center;
   justify-content: center;
   max-width: 1000px;
   width: 100%;
   height: 70%;
   background-color: #131313;
   border: 1px solid #727272;
   border-radius: 10px;
   padding: 40px;

   @media (max-width: 760px) {
      height: 100%;
      justify-content: stretch;
      padding: 15px;
   }

   .image_wrapper {
      grid-column: 1/2;
   }
   
   form {
      @media (min-width: 760px) {
         grid-column: 2/3;
      }

      width: 600px;
      display: grid;
      grid-template-columns: auto 1fr;
      justify-items: center;
      gap: 20px 40px;

      @media (max-width: 1200px) {
         gap: 20px;
      }
      @media (max-width: 760px) {
         width: 100%;
         grid-template-columns: 1fr;
      }

      textarea, button, input {
         @media (max-width: 1200px) {
            font-size: 14px;  
         }
      }

      & > input {
         @media (min-width: 760px) {
            grid-column: 2/3;
         }
         width: 100%;
      }
      textarea, button {
         @media (min-width: 760px) {
            grid-column: 1/3;
         }
      }

      button {
         margin-top: 20px;
      }
   }

   textarea {
      width: 100%;
      height: 250px!important;
      background-color: #131313;
      border: 1px solid #ffffff;
      border-radius: 8px;
      padding: 15px;
      resize: none;
   
      color: #ffffff;
      font-size: 18px;
      font-family: inherit;
   
      &::placeholder {
         color: inherit;
         font-size: inherit;
         line-height: inherit;
         opacity: .5;
      }
   }

   .close_button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 40px;
      width: 40px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 8px;
      cursor: pointer;

      &::before, &:after {
         content: '';
         position: absolute;
         width: 20px;
         height: 2px;
         background-color: #fff;
      }
      &::before {
         transform: rotate(45deg);
      }
      &::after {
         transform: rotate(-45deg);
      }
   }
}

.form_image {
   @media (min-width: 760px) {
      grid-column: 1/2;
      grid-row: 1/3;
   }

   img {
      height: 120px;
      width: auto;
      aspect-ratio: 1/1;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid #ffffff;
      border-radius: 50%;
      object-fit: cover;
   }

   input {
     position: absolute;
     opacity: 0;
     visibility: hidden;
     width: 1px;
     font-size: 0;
   }

 }

.success_modal {
   z-index: 101;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: grid;
   align-content: center;
   justify-content: center;
   gap: 20px;
   background-color: #131313;
   border: 1px solid #fff;
   border-radius: 10px;
   padding: 100px;

   color: #fff;
   font-size: 20px;
   text-align: center;

   p:first-child {
      font-size: 24px;
   }
}


.jackButton {
  display: block;
  margin-top: 40px;
}

// .featuresButton {
//   display: block;
// }
