.page_body {
  display: grid;
  gap: 128px;
  padding-top: 80px;
  padding-bottom: 120px;

  @media (max-width: 1000px) {
    gap: 80px;
  }

  h1 {
    font-size: 48px;
    line-height: 2ch;

    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 2ch;

    @media (max-width: 1200px) {
      font-size: 28px;
    }
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  p {
    margin: 0;
  }
}

.first_block {
  display: grid;
  gap: 30px;

  .sub_title {
    font-size: 24px;
    color: #bbbbbb;

    @media (max-width: 1200px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .img_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      min-height: 400px;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(90deg, #fbf107, #ee7116, #f31e10, #f19811);

      @media (max-width: 768px) {
        height: 5px;
      }
    }

    .features {
      width: 100%;
      position: absolute;
      bottom: 40px;
      display: flex;
      justify-content: space-around;

      @media (max-width: 760px) {
        left: 50%;
        transform: translate(-50%, 0);
        display: grid;
        gap: 20px;
        grid-template-columns: auto 1fr 1fr auto;
        // justify-items: center;
        justify-content: center;
        bottom: 20px;
      }

      & > a {
        padding: 8px 24px;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;

        @media (max-width: 1000px) {
          font-size: 14px;
          padding: 8px 15px;
          white-space: nowrap;
        }

        &:nth-of-type(1) {
          color: #f0c220;
          border-color: #f0c220;
          transition: all 0.2s;

          & path {
            transition: all 0.2s;
          }

          &:hover {
            background-color: #f0c220;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 2/3;
          }
        }
        &:nth-of-type(2) {
          color: #ee7116;
          border-color: #ee7116;

          &:hover {
            background-color: #ee7116;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 2/3;
          }
        }
        &:nth-of-type(3) {
          color: #f31e10;
          border-color: #f31e10;

          &:hover {
            background-color: #f31e10;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 3/4;
            grid-row: 1/2;
          }
        }
        &:nth-of-type(4) {
          color: #f19811;
          border-color: #f19811;

          &:hover {
            background-color: #f19811;
            color: #fff;
            transition: all 0.2s;

            & path {
              fill: #fff;
              transition: all 0.2s;
            }
          }

          @media (max-width: 760px) {
            grid-column: 3/4;
          }
        }
      }
    }
  }
}

.description_block {
  background-color: #212121;
  padding: 100px 0;

  & > div {
    display: grid;
    gap: 40px;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  p {
    font-size: 18px;
    overflow: hidden;

    transition: all 0.3s ease;

    @media (max-width: 1200px) {
      font-size: 16px;
    }

    &:not(:first-of-type) {
      // max-height: 0;
      // opacity: 0;
      // height: 0;
      display: none;
    }

    &._show {
      display: block;
      animation: identifier 0.5s forwards;
      // max-height: none;
      // opacity: 1;
    }

    @keyframes identifier {
      0% {
        // height: 0;
        opacity: 0;
      }
      100% {
        // height: auto;
        opacity: 1;
      }
    }
  }

  button {
    width: max-content;
    padding: 12px 40px 12px 0;
    color: #a6a6a6;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}

.photos_block {
  h2 {
    margin-bottom: 48px;
  }

  :global(.swiper) {
    width: 100%;
    height: 100%;
  }

  :global(.swiper-slide) {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.swiper-slide) img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/2;
    object-fit: cover;
  }

  :global(.swiper) {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1000px) {
      height: 150px;
    }
  }

  :global(.swiper-slide) {
    background-size: cover;
    background-position: center;
  }

  :global(.mySwiper2) {
    // height: 80%;
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
    user-select: none;

    :global(.swiper-slide) {
      width: 100% !important;
    }

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      @media (max-width: 760px) {
        &::after {
          font-size: 30px;
        }
      }
      @media (max-width: 480px) {
        &::after {
          font-size: 22px;
          // background-color: #FFFFFF;
          // color: #000;
          // border-radius: 50%;
          // padding: 5px 10px;
        }
      }
    }
  }

  :global(.mySwiper) {
    box-sizing: border-box;
    padding: 20px 0;

    @media (max-width: 1300px) {
      :global(.swiper-slide) {
        width: 24% !important;
      }
    }
    @media (max-width: 760px) {
      display: none;
    }
  }

  :global(.mySwiper) :global(.swiper-slide) {
    width: 25%;
    // height: 70%;
    opacity: 0.4;
  }

  :global(.mySwiper) :global(.swiper-slide-thumb-active) {
    opacity: 1;
  }

  :global(.swiper-slide) img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.routes_block {
  h2 {
    margin-bottom: 48px;
  }
}

.important_to_know_block {
  background-color: #212121;
  padding: 100px 0;

  .accordion {
    display: grid;
    gap: 30px;
    margin: 40px 0 0 0;
    padding: 0;

    li {
      position: relative;
      list-style: none;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 15px;

      p {
        grid-column: 2/3;
        font-size: 24px;

        @media (max-width: 1200px) {
          font-size: 18px;
        }
      }

      span {
        grid-column: 2/3;
        grid-row: 2/3;
        // max-width: 90%;
        display: block;
        max-height: 0px;
        font-size: 0;

        transition: max-height 0.3s ease, margin-top 0.3s ease;
      }

      i {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 20px;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: #fff;
          width: 20px;
          height: 2px;
        }
        &::before {
          transform: rotate(90deg);
        }
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
         height: 100%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;

        &:checked + span {
          max-height: none;
          font-size: 18px;
          margin-bottom: 30px;

          @media (max-width: 1200px) {
            font-size: 16px;
          }
        }

        &:checked + span + i {
          &::before {
            transform: rotate(0deg);
          }
        }

        &:checked + span + i + p {
          color: #979797;
        }
      }
    }
  }
}

.reviews_block {
  overflow: hidden;
  h2 {
    margin-bottom: 48px;
  }
}
.reviews_swiper {
  height: 100%;
  user-select: none;
  height: max-content;

  @media (min-width: 1300px) {
    width: 100% !important;
  }
  @media (max-width: 1100px) {
    width: 700px !important;
  }
  @media (max-width: 760px) {
    width: 560px !important;
  }
  @media (max-width: 600px) {
    transform: translate(-20px, 0);
    width: 110% !important;
  }

  :global(.swiper-slide) {
    font-size: 18px;
    font-family: "jost";
    font-weight: 400;
    background: transparent;
    display: flex;
    align-items: center;

    & > div {
      height: 100%;
      display: grid;
      justify-items: center;

      @media (max-width: 1300px) {
        width: 100% !important;
      }
      @media (max-width: 760px) {
        width: 550px !important;
      }
      @media (max-width: 600px) {
        width: 90% !important;
      }
    }
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    color: #fff;

    &:active {
      transform: scale(0.95);
    }

    &::after {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px 16px;
      font-size: 30px;
    }
  }
  :global(.swiper-button-prev) {
    left: 20px;
  }
  :global(.swiper-button-next) {
    right: 20px;
  }

  .review_wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;

    padding: 40px;
    border: 1px solid #727272;
    border-radius: 10px;

    @media (max-width: 1100px) {
      // width: 85%;
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .user {
      display: grid;
      justify-items: center;
      align-content: start;
      gap: 10px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .review_body {
      display: grid;
      align-content: start;
      gap: 30px;
    }

    .stars {
      width: 200px;
      display: grid;
      gap: 10px;

      & > div {
        display: flex;
        gap: 5px;
      }

      span {
        color: #aeaeae;
        font-size: 14px;
      }
    }
  }
}

.jackButton {
  display: block;
  margin-top: 40px;
}

// .featuresButton {
//   display: block;
// }
