.page_body {
  padding-bottom: 120px;
  display: grid;
  gap: 128px;

  @media (max-width: 1000px) {
    gap: 80px;
  }
  @media (max-width: 440px) {
    overflow: hidden;
  }

  h1 {
    @media (max-width: 1600px) {
      font-size: 55px;
    }
    @media (max-width: 1200px) {
      font-size: 42px;
    }
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 2.5ch;
    }
  }

  h2 {
    @media (max-width: 1600px) {
      font-size: 55px;
    }
    @media (max-width: 1200px) {
      font-size: 42px;
    }
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 2.5ch;
    }
  }

  p {
    margin: 0;
  }
}

.first_block {
  height: calc(100vh - var(--header-height));

  background-image: url("../../assets/img/tours/first-screen.png");
  background-size: cover;
  background-position: center;

  @media (max-width: 768px) {
    background-image: url("../../assets/img/tours/first-screen-mobile.jpg");
  }

  & > div {
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
    gap: 80px;
  }
}

.video_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;

  @media (max-width: 1000px) {
    // grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }

  .video_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (any-hover: hover) {
      &:hover {
        &::before {
          filter: brightness(1.2);
          transform: scale(1.1);
        }
      }
    }

    &._paused {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "▶";
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 16px 16px 16px 20px;
      background-color: #d9d9d9;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.3s ease;

      font-size: 35px;
      color: #373737;
      line-height: 35px;
    }
  }

  video {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  }

  .textWrapper {
    display: grid;
    align-content: start;
  }

  .text {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &::after {
      content: "";
      height: 20px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(33, 33, 33, 0),
        rgba(33, 33, 33, 1)
      );

      position: absolute;
      bottom: -3px;
    }
  }

  ._show {
    color: red;
    height: auto;
  }

  p {
    font-size: 18px;

    @media (max-width: 1000px) {
      font-size: 16px;
    }

    span {
      font-weight: 700;
    }
  }

  .features {
    @media (min-width: 760px) {
      grid-column: 1/3;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 5px;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 20px;
    }
    @media (max-width: 760px) {
      grid-template-columns: 1fr;
      justify-items: start;
    }

    & > div {
      display: grid;
      gap: 15px;
      align-content: start;

      @media (max-width: 1000px) {
        width: 70%;
      }

      span {
        font-size: 18px;
        font-weight: 700;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

.peninsula_routes_block {
  .sub_title {
    color: #bbbbbb;
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  .dotted_line {
    transform: rotate(90deg);

    @media (min-width: 760px) {
      display: none;
    }
  }

  .map {
    position: relative;
    margin-top: 80px;

    @media (max-width: 760px) {
      display: grid;
      gap: 30px;
      align-items: center;
      justify-items: center;
    }

    & > p {
      font-size: 18px;
      user-select: none;

      @media (max-width: 760px) {
        display: none;
      }
    }

    & > img {
      width: 100%;
      z-index: -1;

      @media (max-width: 760px) {
        display: none;
      }
    }

    .magadan_text {
      position: absolute;
      top: 25%;
      right: 32%;
    }
  }

  .map_popup {
    @media (max-width: 760px) {
      height: 100%;
    }

    .popup_body {
      max-width: 360px;

      .img_wrapper {
        display: grid;
        overflow: hidden;
        border-radius: 10px;

        img {
          grid-row: 1/2;
          grid-column: 1/2;

          width: 100%;
        }

        .title {
          width: 70%;
          grid-row: 1/2;
          grid-column: 1/2;

          display: block;
          font-size: 32px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 20px 0 0 20px !important;

          @media (max-width: 1000px) {
            font-size: 26px;
          }
        }
      }

      .info {
        display: grid;
        justify-items: center;
        gap: 15px;
        padding: 15px 20px 20px 20px;
        background-color: rgba(6, 6, 6, 0.8);

        .info_map {
          width: 310px;
          height: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 15px;

          iframe {
            transform: translate(0, 50px);
          }

          & > div {
            display: none;
          }
        }

        .elements {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          & > div {
            border: 1px solid #fff;
            padding: 12px;
            border-radius: 8px;
            display: grid;
            justify-items: center;
            align-content: center;
            gap: 12px;

            @media (max-width: 1000px) {
              gap: 6px;
            }

            p {
              text-align: center;

              @media (max-width: 1000px) {
                font-size: 16px;
              }
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;

              font-size: 14px;

              @media (max-width: 1000px) {
                svg {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.map_point {
  --gap: 15px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5em;
  height: auto;
  aspect-ratio: 1/1;
  cursor: pointer;
  user-select: none;

  span {
    width: 100px;
  }

  @media (max-width: 760px) {
    --gap: 20px;
    //  max-width: 120px;
    //  color: red;

    position: relative;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    span {
      width: max-content;
      bottom: auto !important;
      left: auto !important;

      right: calc(-1 * var(--gap)) !important;
      transform: translate(100%, 0) !important;
      text-align: left !important;

      &._left {
        left: calc(-1 * var(--gap)) !important;
        transform: translate(-100%, 0) !important;
        text-align: right !important;
      }
    }

    //  &:nth-of-type(2n + 1) {
    //    span {
    //      right: calc(-1 * var(--gap)) !important;
    //      transform: translate(100%, 0) !important;
    //      text-align: left !important;
    //    }
    //  }
    //  &:nth-of-type(2n) {
    //    span {
    //      left: calc(-1 * var(--gap)) !important;
    //      transform: translate(-100%, 0) !important;
    //      text-align: right !important;
    //    }
    //  }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        background-color: #7291ff;
        transform: scale(1.1) translate(-50%);
      }

      &::after {
        border-color: #7291ff;
        transform: scale(1.1);
      }

      & + .map_popup {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &._active {
    &::before {
      transform: scale(1.1) translate(-50%);
      background-color: yellow;
    }
    &::after {
      border: 1px solid yellow;
      transform: scale(1.1);
    }
  }

  &:active {
    &::before {
      transform: scale(0.95) translate(-50%);
    }

    &::after {
      transform: scale(0.95);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &::before {
    width: 5px;
    height: 5px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%) scale(1);
  }
  &::after {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
  }

  span {
    position: absolute;
    pointer-events: none;
  }

  &.bottom {
    span {
      bottom: calc(-1 * var(--gap));
      transform: translate(0, 100%);
      text-align: center;
    }
  }

  &.left {
    span {
      left: calc(-1 * var(--gap));
      transform: translate(-100%, 0);
      text-align: right;
      width: 100px;
    }
  }

  &.right {
    span {
      right: calc(-1 * var(--gap));
      transform: translate(100%, 0);
      text-align: left;
    }
  }

  &.top {
    span {
      top: calc(-1 * var(--gap));
      transform: translate(0, -100%);
      text-align: center;
    }
  }
}

.map_point {
  & span {
    line-height: 20px;
  }
}

.map_popup {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  cursor: pointer;
  pointer-events: none;

  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: right;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  height: max-content;

  @media (max-width: 760px) {
    width: 100%;
    justify-content: center;
  }

  &._left {
    right: auto;
    left: 0;
  }

  &._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.dotted_line {
  height: 4px;
  width: 80px;

  margin: 20px 0;
  padding: 0;
  border: none;
  background: linear-gradient(to right, transparent 50%, #fff 50%),
    linear-gradient(to right, transparent, transparent);
  background-size: 16px 2px, 100% 2px;
}

.routes_outside_theCity_block {
  background-color: #212121;
  padding: 128px 0;
  border-radius: 40px;
  display: grid;
  gap: 80px;

  @media (max-width: 760px) {
    background-color: #131313;

    & > div:nth-of-type(1) {
      .road {
        height: 320px;
      }
      .map_point {
        &:nth-of-type(1) {
          top: 25% !important;
        }
        &:nth-of-type(3) {
          top: 60% !important;
        }
      }
    }
  }

  & > div {
    display: grid;
    gap: 100px;
    padding: 0 64px;

    @media (max-width: 760px) {
      gap: 30px;
      padding: 0;
    }
  }

  // h2 {
  //   margin-left: 64px;
  // }

  .road {
    min-height: 150px;
    position: relative;

    @media (max-width: 760px) {
      height: 220px;
      // height: 100%;
      // overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dotted_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 760px) {
        // width: 100%;
        height: 100%;
        width: 100%;
        max-width: 250px;
        position: absolute;
        // transform: rotate(90deg);
      }
    }
    hr {
      width: 100%;
      margin: 15px 0;
      @media (max-width: 760px) {
        transform: rotate(90deg);
      }
    }
  }

  .title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: 1600px) {
      font-size: 28px;
    }
    @media (max-width: 760px) {
      text-align: center;
    }
  }

  .map_point {
    @media (max-width: 760px) {
      position: absolute;

      &:nth-of-type(2) {
        top: 65% !important;
      }

      span {
        top: auto !important;
        right: -20px !important;
        text-align: left;
        width: 100px !important;
      }
    }

    span {
      width: 170px;
    }

    &::before,
    &::after {
      z-index: 1;
    }
    b {
      position: absolute;
      width: 200%;
      height: 200%;
      background-color: #212121;

      @media (max-width: 760px) {
        background-color: #131313;
      }
    }
  }

  .map_popup {
    display: flex;
    align-items: center;
    justify-content: end;
    transform: translate(0, -50%);

    @media (max-width: 760px) {
      justify-content: center;
      height: 1000px;
    }

    .popup_body {
      max-width: 360px;
      border-radius: 10px;
      overflow: hidden;

      .img_wrapper {
        display: grid;
        overflow: hidden;

        img {
          grid-row: 1/2;
          grid-column: 1/2;

          width: 100%;
        }

        .title {
          width: 70%;
          grid-row: 1/2;
          grid-column: 1/2;

          font-size: 32px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 20px 0 0 20px !important;

          @media (max-width: 1000px) {
            font-size: 26px;
          }
        }
      }

      .info {
        display: grid;
        justify-items: center;
        gap: 15px;
        padding: 15px 20px 20px 20px;
        background-color: rgba(6, 6, 6, 0.8);

        .info_map {
          width: 310px;
          height: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 15px;

          iframe {
            transform: translate(0, 50px);
          }

          & > div {
            display: none;
          }
        }

        .elements {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          & > div {
            border: 1px solid #fff;
            padding: 12px;
            border-radius: 8px;
            display: grid;
            justify-items: center;
            align-content: center;
            gap: 12px;

            @media (max-width: 1000px) {
              gap: 6px;
            }

            p {
              text-align: center;

              @media (max-width: 1000px) {
                font-size: 16px;
              }
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;

              font-size: 14px;

              @media (max-width: 1000px) {
                svg {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.titleAndButton {
  display: flex !important;
  gap: 16px 32px !important;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 16px;
  }

  & h2 {
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.titleAndButtonStaritsky {
  align-items: flex-end;

  @media (max-width: 767px) {
    align-items: flex-start;
  }

  & h2 {
    width: 63%;

    @media (max-width: 767px) {
      width: 100%;
      text-align: left;
    }
  }

  & a {
    margin-bottom: 14px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.titleAndButtonSea {
  margin: 0 64px;
}

.sea_routes {
  position: relative;
  background-color: rgba(53, 153, 245, 0.15);
  padding: 128px 0 300px 0;
  border-radius: 40px;
  display: grid;

  @media (max-width: 760px) {
    background-color: #131313;
    padding: 0;
  }

  .sub_title {
    color: #bbbbbb;
    font-size: 20px;
    margin: 20px 64px 0 64px !important;

    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .map {
    position: relative;
    margin-top: 80px;
    display: grid;

    @media (max-width: 760px) {
      // pointer-events: none;
      display: grid;
      gap: 30px;
      align-items: center;
      justify-items: center;

      & > span {
        display: none;
      }
    }

    @media (max-width: 650px) {
      .map_point {
        span {
          width: 100px;
        }
      }
    }

    .dotted_line {
      transform: rotate(90deg);

      @media (min-width: 760px) {
        display: none;
      }
    }

    & > img {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      opacity: 1;
      pointer-events: none;

      transition: opacity 0.3s ease;

      @media (max-width: 760px) {
        display: none;
        position: absolute;
      }

      &._hidden {
        opacity: 0;
      }
    }
  }
  .map_point {
    @media (any-hover: hover) {
      &:hover {
        & + .map_popup + hr + img {
          opacity: 1;
        }
      }
    }
  }
  .map_popup {
    @media (max-width: 760px) {
      height: 100%;
    }

    .popup_body {
      max-width: 360px;

      .img_wrapper {
        display: grid;
        overflow: hidden;
        border-radius: 10px;

        img {
          grid-row: 1/2;
          grid-column: 1/2;

          width: 100%;
        }

        .title {
          width: 70%;
          grid-row: 1/2;
          grid-column: 1/2;

          font-size: 32px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 20px 0 0 20px !important;

          @media (max-width: 1000px) {
            font-size: 26px;
          }
        }
      }

      .info {
        display: grid;
        justify-items: center;
        gap: 15px;
        padding: 15px 20px 20px 20px;
        background-color: rgba(6, 6, 6, 0.8);

        .info_map {
          width: 310px;
          height: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 15px;

          iframe {
            transform: translate(0, 50px);
          }

          & > div {
            display: none;
          }
        }

        .elements {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          & > div {
            border: 1px solid #fff;
            padding: 12px;
            border-radius: 8px;
            display: grid;
            justify-items: center;
            align-content: center;
            gap: 12px;

            @media (max-width: 1000px) {
              gap: 6px;
            }

            p {
              text-align: center;

              @media (max-width: 1000px) {
                font-size: 16px;
              }
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;

              font-size: 14px;

              @media (max-width: 1000px) {
                svg {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  //   .map_point {
  //     @media (any-hover: hover) {
  //       &:hover {
  //         & + .map_popup + hr + img {
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }
  //   .map_popup {
  //     width: 100%;
  //     top: auto;
  //     right: auto;
  //     bottom: 0;
  //     left: 0;
  //     display: flex;
  //     align-items: end;
  //     justify-content: center;

  //     @media (max-width: 760px) {
  //       justify-content: center;
  //       align-items: center;
  //       height: 1000px;
  //       top: 50%;
  //     }
  //   }
  //   .popup_body {
  //     position: absolute;
  //     bottom: -40px;
  //     transform: translate(0, 100%);
  //     display: grid;
  //     gap: 20px;

  //     background-color: rgba(0, 0, 0, 0.4);
  //     border-radius: 16px;
  //     padding: 20px;

  //     @media (max-width: 760px) {
  //       background-color: rgba(0, 0, 0, 0.9);
  //       transform: translate(0, 0%);
  //       bottom: auto;
  //     }

  //     .img_wrapper {
  //       .title {
  //         width: 50%;

  //         font-size: 32px;
  //         font-weight: 500;
  //         text-transform: uppercase;

  //         @media (max-width: 1000px) {
  //           font-size: 26px;
  //         }
  //       }
  //     }

  //     .info {
  //       .elements {
  //         display: grid;
  //         grid-template-columns: repeat(6, 1fr);
  //         gap: 15px;

  //         @media (max-width: 1000px) {
  //           grid-template-columns: repeat(3, 1fr);
  //         }
  //         @media (max-width: 760px) {
  //           grid-template-columns: repeat(2, 1fr);
  //         }

  //         & > div {
  //           border: 1px solid #fff;
  //           padding: 12px;
  //           border-radius: 8px;
  //           display: grid;
  //           justify-items: center;
  //           align-content: center;
  //           gap: 12px;

  //           @media (max-width: 1000px) {
  //             gap: 6px;
  //           }

  //           p {
  //             text-align: center;
  //             display: flex;
  //             gap: 1ch;

  //             @media (max-width: 1000px) {
  //               font-size: 16px;
  //             }
  //           }

  //           span {
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //             gap: 10px;

  //             font-size: 14px;

  //             @media (max-width: 1000px) {
  //               svg {
  //                 width: 20px;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
}

.wrapper {
  // background-color: red;
  // display: grid;
  // gap: 40px;
  max-width: 1200px;
  width: calc(100% - 80px);
  padding: 0 40px;
  margin: 0 auto;

  & > h2 {
    margin-bottom: 64px;
  }
}

.individual_tour_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;

  @media (max-width: 1000px) {
    display: none;
  }

  h2 {
    @media (max-width: 1200px) {
      line-height: 2ch;
    }
  }

  img {
    width: 90%;
    border-radius: 16px;
    height: 100%;
    object-fit: cover;
  }

  .text {
    font-size: 20px;
    display: grid;
  }

  & > div {
    display: grid;
    align-items: start;
    gap: 20px;

    a {
      margin-top: 20px;
    }
  }
}

.buttonBlue {
  background-color: rgba(53, 153, 245, 0.5);
}

.jack_londonLake_block {
  display: grid;
  gap: 80px;

  .sub_title {
    font-size: 18px;
    display: grid;
  }
}

.hiddenMobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.buttonD {
  display: block;

  @media (max-width: 767px) {
    display: none !important;
  }
}

.buttonM {
  display: none !important;

  @media (max-width: 767px) {
    display: block !important;
  }
}

.wrapperColor {
  background-color: #212121;
  padding: 64px 0;
}

.buttonJack {
  margin-top: 32px;
}
