
.page_body {
   display: grid;
   gap: 80px;
   padding: 80px 0;

   .buttons {
      display: grid;
      gap: 30px;
   }

   hr {
      width: 100%;
      background-color: #fff;
   }

   .field {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      gap: 40px;
      
      p {
         width: 200px;
         white-space: nowrap;
         font-size: 18px;
      }

      button {
         height: max-content;
         background-color: var(--color-button);
         color: #fff;
         cursor: pointer;
         padding: 20px;
         border-radius: 10px;
         border: none;

         &:active {
            transform: scale(.95);
         }
      }
   }

   .text_field {
      textarea {
         width: 100%;
         font-size: 24px;
         font-weight: 400;
         color: #fff;
         background-color: transparent;
         border: none;
      }
   }

   .texts_set_field {

      span {
         color: #3f51b5;
         font-size: 16px;
      }

      & > div {
         display: grid;
         gap: 30px;
         grid-template-columns: 1fr 1fr;
      }

      textarea {
         width: 100%;
         font-size: 24px;
         font-weight: 400;
         color: #fff;
         background-color: transparent;
         border: none;
      }

   }

   .image_field {
      grid-template-columns: auto 1fr auto auto;

      img {
         min-height: 50px;
         cursor: pointer;
         background-color: rgba(255, 255, 255, .1);
      }

      input {
         position: absolute;
         opacity: 0;
         visibility: hidden;
         width: 1px;
         font-size: 0;
      }

      button {
         grid-row: 1/2;

         &:nth-of-type(1) {
            grid-column: 4/5;
         }
         &:nth-of-type(2) {
            grid-column: 3/4;
         }
      }
   }

   .video_field {
      grid-template-columns: auto 1fr auto auto;

      video {
         cursor: pointer;
      }

      input {
         position: absolute;
         opacity: 0;
         visibility: hidden;
         width: 1px;
         font-size: 0;
      }

      button {
         grid-row: 1/2;

         &:nth-of-type(1) {
            grid-column: 4/5;
         }
         &:nth-of-type(2) {
            grid-column: 3/4;
         }
      }
   }
}

.page {
   display: grid;
   gap: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loginInput {
  margin-bottom: 16px;
  border: 2px solid #3f51b5;
  padding: 8px 10px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #3f51b5;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  min-width: 200px;

  &:hover {
    background-color: #4c61d8;
  }
}

.test {
  display: flex;
  flex-direction: column;
  // width: 350px;
  // background-color: silver;
}

.input {
  height: 40px;
  font-size: 18px;
  text-align: center;
}
